h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'p p' 'option-one option-two' 'option-three option-for' 'button button';
}

.options p {
    grid-area: p;
    text-align: center;
    font-size: 1.8rem;
}

.option-one,
.option-two,
.option-three,
.option-for {
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
}

.option-one label,
.option-two label,
.option-three label,
.option-for label {
    color: #929090;
    font-size: 1.6rem;
    margin-left: 0.4rem;
    margin-bottom: 0.1rem;
}

.option-one input,
.option-two input,
.option-three input,
.option-for input {
    width: 23rem;
    height: 4rem;
    border-radius: 0.4rem;
    border: 1px solid var(--border-div-color);
    padding: 1rem;
}

.option-one input,
.option-three input {
    margin-right: 3.5rem;
}

button {
    width: 20rem;
    height: 3.5rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-text-button);
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition-duration: 0.5s;
    grid-area: button;
    margin: 1rem auto;
}

button:hover {
    background-color: var(--color-primary-hover);
}
