html,
body {
  height: 100vh;
}

header {
  height: 11rem;
  position: fixed;
}

.mycart {
  width: 100%;
  height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: 600;
  background-color: var(--background-footer);
  margin-top: 1.5rem;
}

.section-cart {
  width: 100%;
  max-width: 1245px;
  max-height: 585px;
  min-height: calc(100vh - 11rem);
  overflow-y: auto;
  margin: 0 auto;
  padding-top: 11rem;
}

.models {
  display: none;
}

.product {
  width: 100%;
  min-height: 13.5rem;
  background-color: var(--color-text-button);
  border: 1.5px solid var(--border-div-color);
  border-top: none;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "row1"
    "row2";
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 0.8rem;
}

.product:hover {
  background-color: #f2f2f2;
}

.product-info-img {
  grid-area: row1;
  display: flex;
  flex-direction: row;
}

.product-img img {
  width: 7rem;
  height: 7rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  object-fit: cover;
}

.product-info {
  margin-left: 0.6rem;
  width: 13.3rem;
  /* height: 6.5rem; */
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  width: 19rem;
}

.product-price {
  font-size: 1.8rem;
  font-family: "Roboto";
}

.product-trash {
  background-color: var(--color-trash);
  width: 4.5rem;
  height: 5.5rem;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  margin-left: 1.7rem;
  transition: background 0.5s;
}

.product-trash:hover {
  background-color: var(--color-trash-hover);
}

.product-trash img {
  width: 3rem;
  height: 4.5rem;
}
.windowpurchase {
  background-color: #d6d2d280;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  /* flex */
  transition: all ease 0.5s;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 11;
}

.product-trash img {
  height: 1.8rem;
}
.product-options {
  grid-area: row1;

  margin-top: 4rem;
  margin-left: 20.5rem;
}
.product-options .product--item--qtarea {
  grid-area: qtd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-footer);
  border-radius: 1rem;
  height: 4.6rem;
  width: 6.5rem;
}
.product-options .product--item--qtarea button {
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  outline: 0;
  cursor: pointer;
  padding: 0rem 0.5rem;
  color: var(--color-text-button-qt);
}
.product-options .product--item--qtarea button:first-child {
  margin-bottom: 0.4rem;
}
.product-options .product--item--qt {
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0rem 0.5rem;
  color: #000;
}
.product-options .product-item-qtavailable {
  grid-area: avlb;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.product-options .product-trash {
  grid-area: trash;
}

.attributes {
  width: 100%;
  font-size: 1.4rem;
  font-style: oblique;
  justify-content: space-between;
  display: flex;
  margin-top: 0.5rem;
}
/* div comprar */

.purchase-modal {
  width: 28rem;
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px #999;
}

.purchase-modal .subtotal,
.purchase-modal .freight,
.purchase-modal .total {
  color: #464646;
  font-size: 1.8rem;
  font-family: "Roboto";
  font-style: italic;
  padding: 0.5rem;
}

.purchase-modal .total {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.purchase-modal form {
  width: 95%;
  padding: 0.5rem;
  margin: 0 auto;
}
.purchase-modal .form-title {
  font-size: 1.8rem;
  padding: 0.5rem 0;
  display: inline-block;
  border-bottom: 3px solid #4de012e5;
  margin-bottom: 1rem;
}
.purchase-modal form input,
.purchase-modal form select {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--border-div-color);
  background-color: #dddddde7;
}
.purchase-modal form select {
  padding: 0 1rem;
}
.purchase-modal form .card-date {
  display: flex;
  flex: 2;
}
.purchase-modal .address {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}
.address .address-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.address .address-radio label {
  font-size: 1.6rem;
  width: 23rem;
  max-width: 41rem;
  overflow: hidden;
  text-overflow: "... (continuar lendo)";
  white-space: nowrap;
  justify-content: center;
}
.address .address-radio label:hover {
  text-overflow: clip;
  max-width: none;
}
.address .address-radio input {
  width: 2rem;
  margin-right: 1rem;
}

.card-date #validate {
  margin-right: 0.8rem;
}

#payer {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--border-div-color);
  cursor: pointer;
  background: var(--color-button-secondary);
  color: var(--color-text-button);
  font-size: 2rem;
  transition: background 0.4s;
  margin-bottom: 1rem;
}
#payer:hover {
  background: #34922b;
}

.buttons {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
}
.buttons > div {
  flex: 2;
  height: 5rem;
  margin-bottom: 1rem;
}
.buttons > div > button {
  width: 100%;
  cursor: pointer;
  transition: background 0.5s;
}

.buttons > div > button > img {
  width: 2.5rem;
  height: 2.5rem;
}
#purchase-pay {
  border: none;
  background: var(--color-button-secondary);
  color: var(--color-text-button);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#purchase-pay span {
  display: none;
}
#clear-cart {
  border: none;
  background-color: var(--color-trash);
  color: var(--color-text-button);

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#purchase-pay:hover {
  background: var(--color-button-secondary-hover);
}
#clear-cart:hover {
  background: var(--color-trash-hover);
}

.div-purchase-pay,
.div-clear-cart {
  display: flex;
  justify-content: center;
}

@media (min-width: 319px) {
  .section-cart {
    height: calc(100% - 7rem);
  }
  .product-info {
    width: 14.5rem;
  }
  .product-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "qtd trash"
      "avlb avlb";
    margin-left: 18.5rem;
  }
  .product-options .product--item--qtarea {
    grid-area: qtd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border-footer);
    border-radius: 1rem;
    height: 5.6rem;
    width: 6.4rem;
  }
  .product-options .product--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 2rem;
    outline: 0;
    cursor: pointer;
    padding: 0rem 0.5rem;
    color: var(--color-text-button-qt);
  }
  .product-options .product--item--qtarea button:first-child {
    margin-bottom: 0.4rem;
  }
  .product-options .product--item--qt {
    line-height: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0rem 0.5rem;
    color: #000;
  }
  .product-options .product-item-qtavailable {
    grid-area: avlb;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
  }
  .product-trash {
    display: flex;
  }

  .purchase-modal {
    width: 30rem;
  }
  .buttons {
    width: 90%;
  }
  .buttons > div + div {
    display: none;
  }

  #purchase-pay {
    width: 100%;
    max-width: 700px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  #purchase-pay img {
    display: none;
  }
  #purchase-pay span {
    display: initial;
    font-size: 2rem;
    letter-spacing: 1.5px;
  }

  .attributes {
    padding: 0 1rem;
  }
}
@media (min-width: 355px) {
  .product-options {
    margin-left: 60%;
  }
  .attributes {
    padding: 0 1.5rem;
  }
}
@media (min-width: 405px) {
  .section-cart {
    max-height: 655px;
  }
  .product-options {
    margin-left: 65%;
  }
  .attributes {
    padding: 0 2.5rem;
  }
  .product-options .product--item--qtarea {
    width: 7rem;
  }
  .product-options .product-item-qtavailable {
    margin-left: 0.8rem;
  }
}
@media (min-width: 545px) {
  .product-options {
    margin-left: 75%;
  }
  .attributes {
    padding: 0 4.5rem;
  }
}
@media (min-width: 650px) {
  .attributes {
    justify-content: start;
  }
  .attributes > span {
    margin-right: 2rem;
  }
  .product-img img {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 700px) {
  header {
    height: 12.4rem;
  }
  .product {
    padding: 0.8rem 2rem;
  }
  .mycart {
    height: 2.2rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: 600;
    background-color: var(--background-footer);
    margin-top: 1.6rem;
  }
  .section-cart {
    padding-top: 12.5rem;
  }

  .purchase-modal {
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-details {
    width: 95%;

    margin: 1rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .purchase-modal .subtotal,
  .purchase-modal .freight,
  .purchase-modal .total {
    font-style: italic;
    margin-top: 0;
    padding: 0;
  }
  .product-details .product-price {
    font-size: 1.8rem;
    margin-top: 0.3rem;
    grid-area: value;
  }
  .product-details .freight,
  .product-details .price-total {
    font-size: 1.8rem;
    margin-top: 0.3rem;
    font-family: "Roboto";
  }
  .product-details #freight {
    grid-area: freight;
  }
  .product-details #date_freight {
    grid-area: date;
  }

  .product-details .price-total {
    grid-area: total;
    margin-left: 1rem;
  }

  .product-options {
    display: grid;
    grid-template-columns: 8.5rem auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "qtd trash "
      "available trash ";
    margin-left: 74%;
  }

  .product-options .product--item--qtarea {
    grid-area: qtd;

    height: 5.6rem;
    width: 8.5rem;
    margin-right: 2rem;
  }
  .product-options .product--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 2.5rem;
    outline: 0;
    cursor: pointer;
    padding: 0rem 0.8rem;
    color: var(--color-text-button-qt);
  }
  .product-options .product--item--qtarea button:first-child {
    margin-bottom: 0.5rem;
  }
  .product-options .product--item--qt {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 0rem 0.5rem;
    color: #000;
  }
  .product-options .product-item-qtavailable {
    grid-area: available;
    margin-left: 1.8rem;
    margin-top: 0.2rem;
  }
}
@media (min-width: 900px) {
  .product-options {
    grid-template-columns: 8.5rem 5.5rem;
    grid-template-areas:
      "qtd trash "
      "available trash ";
    margin-left: 78%;
  }
}

@media (min-width: 1000px) {
  .product-img img {
    width: 15rem;
    height: 13rem;
  }
  .product-title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    width: 57rem;
  }
  .product-price {
    font-size: 2.8rem;
    font-family: "Roboto";
  }
  .product-options {
    margin-left: 86%;
  }
  .product-options .product-item-qtavailable {
    width: 10rem;
    font-size: 1.4rem;
    margin-left: 0.2rem;
  }
  .attributes {
    grid-area: row1;
    max-width: 63rem;
    margin: 10.5rem 0 0 13rem;
    font-size: 1.6rem;
    font-style: normal;
  }
}
@media (min-width: 1244px) {
  .section-cart {
    border-left: 1px solid var(--border-div-color);
    border-right: 1px solid var(--border-div-color);
  }
  .div-purchase-pay {
    max-width: 1245px;
    margin: 0 auto;
  }
}
@media (min-height: 550px) {
  .windowpurchase {
    overflow-y: scroll;
    padding-top: 8.5rem;
  }
}
@media (min-height: 800px) {
  .section-cart {
    max-height: 740px;
  }
}
