body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 13rem auto;
    grid-template-areas: "header header" "aside main";
}

.container {
    align-items: center;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-div-color);
    background-color: #FFFFFa;
    cursor: pointer;
}

aside>a {
    height: 5rem;
    text-align: center;
    text-decoration: none;
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--border-div-color);
    transition-duration: .5s;
    color: var(--color-text-link);
}

aside>a:hover {
    background-color: #D9D9D9;
}

main {
    grid-area: main;
    background-color: var(--color-background);
}

nav {
    width: 100%;
    border-bottom: 1px solid var(--border-div-color);
    display: flex;
    justify-content: center;
}

#search {
    width: 40rem;
    height: 3.3rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-div-color);
    border-radius: 0.4rem;
}

.btn-search {
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--color-primary);
    transition-duration: 0.5s;
}

.btn-search:hover {
    background-color: var(--color-primary-hover);
}

.btn-search img {
    width: 2rem;
    height: 2rem;
}

.container {
    width: 70rem;
    height: auto;
    display: flex;
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 1px var(--color-shadow);
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
}

.container h2 {
    margin-top: 1rem;
    color: var(--color-text-alert);
}

form {
    margin: 0 auto;
    width: 71%;
}

.input-container,
.textarea-container {
    display: flex;
    margin: 3rem 0;
    flex-direction: column;
}

.input-container label,
.textarea-container label,
.file-container label {
    color: var(--color-label);
    margin-left: 0.3rem;
    margin-bottom: 0.1rem;
}

.input-container label span,
.textarea-container label span,
.file-container label span {
    color: #b1b0b0;
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.1rem;
}

.input-container input,
.textarea-container textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 50rem;
    height: 4rem;
    padding: 0.4rem;
    border: 1px solid var(--border-div-color);
    border-radius: 0.4rem;
}

.textarea-container textarea {
    height: 6.4rem;
    padding: 0.5rem;
    resize: none;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


/* available */

.available-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem auto;
}

.available-container label {
    font-size: 1.8rem;
    color: var(--color-label);
}

.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 0.5rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 0.4rem;
    bottom: 0.3rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 3.4rem;
}

.slider.round:before {
    border-radius: 50%;
}

.file-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.file-container label {
    margin-left: 0.6rem;
    margin-bottom: 0.5rem;
}

.file-container .btn-add {
    height: 9rem;
    background-color: #f5f8fa;
    border: 1px dashed #ff820ee7;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=file] {
    /* visibility: hidden; */
    display: none;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.6rem;
}

.images-container label {
    max-width: 10rem;
}

label.btn-add+label.btn-add {
    border: none;
    position: relative;
}

img.trash-img {
    display: none;
}

label.btn-add+label.btn-add .removeimg {
    position: absolute;
    visibility: initial;
    background-color: #FFF;
    z-index: 1;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0 1rem 0 2rem;
    border: 1px solid #D3E2E5;
    top: 0;
    left: 6.3rem;
}

.removeimg {
    visibility: hidden;
    /* display: none; */
}

label.btn-add+label.btn-add .trash-img {
    position: absolute;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 2;
    left: 0.1rem;
    top: -0.2rem;
    cursor: pointer;
}

label.btn-add+label.btn-add .img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 1rem;
    cursor: default;
    transition-duration: 0.5s;
}

.btn-create {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.btn-create button {
    width: 25rem;
    height: 4rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-text-button);
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-create button:hover {
    background-color: var(--color-primary-hover);
}

.delete-product .search {
    display: grid;
    grid-template-columns: 41rem 5rem;
    grid-template-rows: auto auto;
    grid-template-areas: 'label label' 'input button';
    margin-top: 1rem;
}

.delete-product .search label {
    font-size: 1.6rem;
    color: var(--color-label);
    grid-area: label;
    margin-left: 0.5rem;
}

.products {
    width: 100%;
    margin: 2rem auto;
    word-break: break-all;
    display: none;
    justify-content: center;
    align-items: center;
}

.product {
    width: 20rem;
    height: auto;
    min-height: 20rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    border: 1px solid var(--border-div-color);
    display: grid;
    flex-grow: 0;
    background-color: var(--color-div-background);
    box-shadow: 0 2px 4px 1px var(--color-shadow);
    transition-duration: 10ms;
}

.product:hover {
    background-color: #FFF;
    cursor: pointer;
}

.product img {
    width: 18rem;
    height: 13rem;
    margin: 0 auto;
    border-radius: 0.2rem;
    border: none;
    object-fit: cover;
}

.product .row {
    border-top: 1px solid #6d6c6c;
    opacity: 50%;
    margin-top: 0.5rem;
}

.product-title {
    padding: 0.3rem 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #2b2b2b;
    font-weight: 600;
    word-break: break-word;
}

.product-price {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: "Roboto";
    color: var(--color-text-price);
    font-weight: 600;
    margin-left: 1rem;
}

.btn-delete {
    width: 100%;
    margin: 1rem 0;
    display: none;
    justify-content: center;
}

#btn-delete {
    width: 25rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    color: var(--color-text-button);
    background-color: var(--color-trash);
    letter-spacing: 0.1rem;
    transition: 0.5s;
    cursor: pointer;
}

#btn-delete:hover {
    background-color: var(--color-trash-hover);
}

.freight {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 9rem 9rem auto;
    grid-template-areas: 'desc desc' 'divweight lenght' 'divheight divwidth' 'img img';
    margin: 0 auto;
    justify-items: center;
    border: 1px solid #CCC;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.freight>span {
    grid-area: desc;
    text-align: center;
}

#divweight {
    grid-area: divweight;
    margin: 0;
}

#divweight .inputselect {
    display: flex;
    flex-direction: row;
}

#divweight input {
    width: 12rem;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#divweight select {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--border-div-color);
    border-left: 0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: #d1d1d1;
    padding-left: 0.1rem;
}

#divlenght {
    grid-area: lenght;
    margin: 0;
}

#divlenght input {
    width: 15rem;
}

#divheight {
    grid-area: divheight;
    margin: 0;
}

#divheight input {
    width: 16rem;
}

#divwidth {
    grid-area: divwidth;
    margin: 0;
}

#divwidth input {
    width: 15rem;
}

.freight>img {
    grid-area: img;
    height: 27rem;
    object-fit: cover;
}
