:root {
<<<<<<< HEAD
    --color-background: #c4c4c442;
    --color-header-background: #0C0C0C;
    --color-div-background: #F6F6F6;
    --color-primary: #F67600;
    --color-primary-hover: #ce690a;
    --color-text-button: #F5F5F5;
    --color-text-link: #424242e3;
    --color-text-link-hover: #000000e3;
    --color-label: #808080;
    --border-div-color: #C9BDBD;
    font-size: 70%;
    font-family: 'Archivo';
}

=======
    /* --color-background: */
    --color-header-background: #0C0C0C;
    --color-text-logo: #F67600;
    font-size: 70%;
}


>>>>>>> 22e8093adba9b0d359d1b5fef2d72be3c7c5a0d9
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}