header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.logo {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1 {
    margin-top: 0;
}

.menu-section nav {
    display: none;
}

.one,
.two,
.three {
    background-color: var(--color-primary);
    height: 0.3rem;
    width: 100%;
    margin: 0.6rem auto;
    transition-duration: 0.3s;
}

.menu-toggle {
    width: 3rem;
    height: 3.1rem;
    margin: 3.4rem 1.5rem 0 4rem;
}


/* fullscrenn */

.menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: var(--color-header-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section.on nav {
    display: block;
}

.menu-section.on .menu-toggle {
    position: absolute;
    right: 1.7rem;
    top: 1rem;
}

.menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(5px, 7px);
}

.menu-section.on .menu-toggle .two {
    opacity: 0;
}

.menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(4px, -7px);
}

.menu-section.on nav input {
    display: block;
    width: 25rem;
    height: 3.5rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: 0.4rem;
    border: 1px solid var(--border-div-color);
    margin: 0 0 5rem;
    transition-duration: 0.5s;
}

.menu-section.on nav>a {
    transition-duration: 0.5s;
    text-decoration: none;
}

.menu-section.on .btn-login,
.menu-section.on .btn-Register,
.menu-section.on .btn-logout,
.menu-section.on .btn-cart,
.menu-section.on .btn-dash {
    display: flex;
    flex: 1;
    width: 15rem;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--color-text-button);
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.menu-section.on .btn-logout,
.menu-section.on .btn-cart,
.menu-section.on .btn-dash,
.menu-section.on .btn-login.logged,
.menu-section.on .btn-Register.logged {
    display: none;
}

.menu-section.on .btn-Register {
    width: 26rem;
    margin-top: 2rem;
}

.menu-section.on .btn-logout {
    width: 12rem;
}

.menu-section.on .btn-cart {
    width: 18rem;
    margin-top: 0.6rem;
}

.menu-section.on .btn-cart p {
    width: 10rem;
}

.menu-section.on .btn-cart img {
    margin-bottom: -1.3rem;
    width: 3.3rem;
    height: 3.3rem;
}

.menu-section.on .btn-logout img {
    margin-bottom: 0.2rem;
}

.menu-section.on .btn-dash {
    width: 22rem;
    margin-top: 3rem;
}

.menu-section.on nav a img {
    width: 3rem;
    height: 3rem;
}


/* Cards of products */

.products {
    width: 100%;
    min-height: calc(100vh - 10rem);
    max-width: 990px;
    position: relative;
    margin: 11rem auto 2rem;
    word-break: break-all;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(14rem, 14.5rem));
    grid-column-gap: 0.3rem;
    grid-row-gap: 1.7rem;
}

.models {
    display: none;
}

.product {
    width: 13rem;
    height: auto;
    min-height: 15rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 1px solid var(--border-div-color);
    justify-self: center;
    align-self: center;
    display: grid;
    flex-grow: 0;
    background-color: var(--color-div-background);
    box-shadow: 0 2px 4px 1px var(--color-shadow);
    transition-duration: 10ms;
}

.product:hover {
    background-color: #FFF;
    cursor: pointer;
}

.product img {
    width: 11rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 0.2rem;
    border: none;
}

.product .row {
    border-top: 1px solid #6d6c6c;
    opacity: 50%;
}

.product-title {
    padding: 0.3rem 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #2b2b2b;
    font-weight: 600;
    word-break: break-word;
}

.product-price {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: "Roboto";
    color: var(--color-text-price);
    font-weight: 600;
    margin-left: 1rem;
}

.windowdetails {
    background-color: #d6d2d280;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    z-index: 11;
}

.product-modal {
    width: 30rem;
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.product-img {
    margin: 0 auto;
    position: relative;
}

.product-img img {
    flex: 1;
    margin: 1rem;
    width: 25rem;
    height: 22rem;
    border-radius: 0.3rem;
}

.product-img>.arrowleft,
.product-img>.arrowright {
    width: 4rem;
    position: absolute;
    height: 22rem;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf64;
    opacity: 20%;
    transition: .5s;
}

.product-img>.arrowleft:hover,
.product-img>.arrowright:hover {
    opacity: 100%;
}

.product-img>.arrowleft {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.product-img>.arrowright {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    right: 1rem;
    left: 22rem;
}

.product-img>.arrowleft img,
.product-img>.arrowright img {
    width: 3rem;
    height: 3.3rem;
}

.product-title>h2 {
    font-size: 2.3rem;
    line-height: 2.3rem;
    padding: .3rem;
}

.windowdetails .product-price {
    font-size: 2rem;
}

.windowdetails .product-amount {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0 0 0.5rem 1rem;
    color: var(--color-label);
}

.windowdetails .product-description {
    font-size: 1.6rem;
    text-align: justify;
    word-break: break-word;
    padding: 0.5rem;
}

button {
    width: 24rem;
    height: 4rem;
    font-size: 1.6rem;
    color: var(--color-text-button);
    letter-spacing: 0.1rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem auto;
    transition: .4s;
}

button:hover {
    background-color: var(--color-primary-hover);
}

footer {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-footer);
    border-top: 1px solid var(--border-footer);
}

.paginated {
    display: flex;
}

.paginated .arrowleft,
.paginated .arrowright {
    border: 1px solid var(--border-div-color);
    border-radius: 0.4rem;
    opacity: 70%;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.6rem;
    margin: 0 0.5rem;
    color: var(--color-text-price);
    display: flex;
    justify-content: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

.paginated strong {
    color: var(--color-text-price);
    opacity: 80%;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: "Roboto";
}

.paginated .arrowleft:hover,
.paginated .arrowright:hover {
    opacity: 100%;
    width: 2.3rem;
    height: 2.3rem;
}

@media(min-width: 280px) {
    .products {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

@media (min-width: 370px) {
    .menu-section .menu-toggle {
        margin-left: 7rem;
    }
    .menu-section.on .menu-toggle {
        right: 2rem;
    }
    .menu-section.on .btn-cart {
        margin-top: 1.5rem;
    }
}

.product img {
    width: 12rem;
    height: 8.5rem;
}

@media (min-width:410px) {
    .menu-section .menu-toggle {
        margin-left: 10 rem;
    }
    .products {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(12rem, 15rem));
        grid-column-gap: 0.3rem;
        grid-row-gap: 3rem;
    }
    .product {
        width: 17rem;
        height: 15rem;
    }
    .product img {
        width: 12rem;
        height: 8.5rem;
    }
    .product .product-title {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .product #price {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        font-family: "Roboto";
        color: #5f5f5f;
        font-weight: 800;
        margin-left: 1rem;
    }
}

@media (min-width:420px) {
    .menu-section .menu-toggle {
        margin-left: 12.3rem;
    }
}

@media (min-width: 700px) {
    .menu-section {
        margin-left: 20rem;
    }
    .menu-toggle {
        width: 4rem;
    }
    .menu-section .menu-toggle {
        margin-left: 8.3rem;
    }
    .menu-section.on {
        margin-left: 0;
    }
    .menu-section.on .menu-toggle {
        right: 6rem;
        top: 1.3rem;
    }
    .menu-section.on nav input {
        width: 55rem;
        height: 5rem;
        font-size: 1.7rem;
    }
    .menu-section.on .btn-login,
    .menu-section.on .btn-Register {
        width: 20rem;
        margin: 3rem auto;
        font-size: 3.5rem;
    }
    .menu-section.on .btn-Register {
        width: 35rem;
    }
    .menu-section.on nav a img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .menu-section.on .btn-cart {
        margin-top: 3rem;
        width: 27rem;
    }
    .menu-section.on .btn-cart p {
        font-size: 2.7rem;
        width: 25rem;
    }
    .menu-section.on .btn-cart img {
        margin-bottom: 0.5rem;
    }
    .products {
        margin-top: 13rem;
        padding-top: 2rem;
        grid-template-rows: repeat(auto-fit, minmax(13rem, 14rem));
        grid-column-gap: 0.3rem;
        grid-row-gap: 3rem;
    }
}

@media (min-width: 1000px) {
    .menu-section.on {
        display: none;
    }
    .menu-section {
        margin: 0;
    }
    .menu-toggle {
        display: none;
    }
    header {
        height: 10.8rem;
    }
    .logo {
        margin: 0.5rem auto;
        max-width: 800px;
        align-items: initial;
        justify-content: initial;
    }
    .logo h1 {
        height: 4.2rem;
        font-size: 2.3rem;
        margin: .2rem 0.5rem 0 0.5rem;
    }
    .menu-section nav {
        margin-top: 5rem;
        display: flex;
    }
    .menu-section nav input {
        height: 4rem;
        width: 40rem;
        font-size: 1.4rem;
        margin-right: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.4rem;
        border: 1px solid var(--border-div-color);
    }
    .btn-login p,
    .btn-Register p,
    .btn-cart p,
    .btn-dash p,
    .btn-logout p {
        display: none;
    }
    .btn-login img,
    .btn-Register img,
    .btn-cart img,
    .btn-dash img,
    .btn-logout img {
        margin: 0 1.2rem;
        width: 3.6rem;
        height: 3.6rem;
        display: initial;
    }
    .menu-section .btn-logout,
    .menu-section .btn-cart,
    .menu-section .btn-dash,
    .menu-section .btn-login.logged,
    .menu-section .btn-Register.logged {
        display: none;
    }
    .products {
        margin-top: 13rem;
        grid-row-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 23.1rem));
        grid-template-rows: repeat(auto-fit, minmax(18rem, 19rem));
    }
    .product {
        width: 19rem;
        height: 18rem;
        transition: 0.3s;
    }
    .product:hover {
        width: 19.4rem;
        height: 18.4rem;
    }
    .product img {
        width: 16rem;
        height: 10rem;
    }
}

@media(min-width:1200px) {
    .logo {
        max-width: 900px;
    }
    .logo h1 {
        margin: .2rem 1.3rem 0 0.5rem;
    }
}
